@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: rgb(220, 220, 220);
    color: black;
}

.page {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin: auto;
    background: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

input {
    outline: none;
    border: none;
    font: inherit;
    color: inherit;
    border-radius: 10px;
    background: rgb(220, 220, 220);
    border: 2px solid rgb(181, 181, 181);
    padding: 5px;
}

.button {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    min-width: 100px;
    width: fit-content;
    border: 2px solid rgb(181, 181, 181);
    background: rgb(220, 220, 220);
}

.button:hover,
.toggle:hover {
    border-color: black;
}

.toggle {
    width: 30px;
    height: fit-content;
    border: 2px solid rgb(181, 181, 181);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle-thumb {
    border-radius: 100%;
    background: black;
    width: 50%;
    aspect-ratio: 1/1;
}

.toggle-container[x-wk-on="true"] .toggle {
    background: lightgreen;
    justify-content: end;
}

.toggle-container {
    width: fit-content;
}

.setting {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}

#save-info {
    display: none;
}

.setting-info {
    font-size: 0.8em;
    color: grey;
    font-style: italic;
}