#x-wk-stt-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0 0 1px grey;
}

#x-wk-stt-button:hover {
    opacity: 1;
}

.x-wk-button {
    display: flex;
    border-radius: 5px;
    background: lightgrey;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#x-wk-clean-header {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--background-color-base,#fff);
    max-width: 99.75rem;
    margin: auto;
}

.x-wk-sticky-row {
    position: sticky;
    top: 0;
    box-shadow: 0 0 1px grey;
    z-index: 10;
}