#x-wk-stt-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0 0 1px grey;
}

#x-wk-stt-button:hover {
    opacity: 1;
}

.x-wk-button {
    display: flex;
    border-radius: 5px;
    background-color: var(--background-color-neutral-subtle,#f8f9fa);
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 50px;
    cursor: pointer;
}

.x-wk-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    gap: 5px;
}

#x-wk-clean-header {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--background-color-base,#fff);
    max-width: 99.75rem;
    margin: auto;
}

.x-wk-sticky-table thead {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 1px var(--border-color-base,#fff);
}

.x-wk-sticky-table thead th, .x-wk-sticky-table thead td {
    box-shadow: 0 0 1px var(--border-color-base,#fff);
}

.x-wk-sticky-row {
    position: sticky;
    z-index: 9;
    background-color: var(--background-color-neutral-subtle,#f8f9fa);
}

.x-wk-sticky-row th, .x-wk-sticky-row td {
    box-shadow: 0 0 1px var(--border-color-base,#fff);
}